body{
    background-color: gainsboro;
    margin: 0;
}
.header{
    background-color: antiquewhite;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 30px;
}

.nav-menu{
    display: flex;
    justify-content: end;
}
menu .menu-item{
    display: flex;
}


.item li{
    list-style-type: none;
}

.head{
     margin-right: 20px;
    padding-left: 130px;
     background-color: antiquewhite;
      margin-left: 20px;
      margin-top: -35px;
}
.head-contan{
padding-right: 120px;

}

.btn{
    background-color: chocolate;
    padding: 10px 20px 10px 20px;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 43%;
}

.feature{
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 130px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.feature-contain{
    display: flex;
}

.contain-img{
margin-left: 100px;
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-content: start;
}

.containinfo{
    margin-left: 50px;
    margin-top: 100px;
}

.containinfo h2{
    font-size: 35px;
}

.love-injoy{
    border: 1px solid black;
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.injoy-head h2{
    font-size: 35px;
    border-left: 5px solid chocolate;
    padding-left: 10px;
}

.container-img{
    padding-left: 30px;
}

.love-injoy-contain{
    padding-right: 30px;
}

.contain-1{
    background-color: white;
   padding: 0px 20px 0px 10px;
   border: 5px solid rgba(128, 128, 128, 0.153);
}

.contain-1 p{
    margin-top: -12px;
}