body{
    background-color: gainsboro;
    margin: 0;
}
.header{
    background-color: rgba(250, 235, 215, 0.819);
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 500px;
}
.mwnu{
    display: flex;
    gap: 50px;
}

.mwnu li{
    list-style-type: none;
}






.head{
     margin-right: 20px;
    padding-left: 130px;
     background-color: rgba(250, 235, 215, 0.819);
      margin-left: 20px;
      margin-top: -35px;
      padding-top: 50px;
}
.head-contan{
padding-right: 120px;

}

.btn{
    background-color: chocolate;
    padding: 10px 20px 10px 20px;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 43%;
}

.feature{
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 130px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.feature-contain{
    display: flex;
}

.contain-img{
margin-left: 100px;
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-content: start;
}

.containinfo{
    margin-left: 50px;
    margin-top: 100px;
}

.containinfo h2{
    font-size: 35px;
}

.love-injoy{
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.injoy-head h2{
    font-size: 35px;
    border-left: 5px solid chocolate;
    padding-left: 10px;
}

.container-img{
    padding-left: 30px;
}

.love-injoy-contain{
    padding-right: 30px;
}

.contain-1{
    background-color: white;
   padding: 0px 20px 0px 10px;
   border: 5px solid rgba(128, 128, 128, 0.153);
   margin-left: 20px;
}

.box{
    background-color: chocolate;
    color: white;
    padding: 30px;
    text-align: center;
    position: absolute;
    margin-top: 700px;
     height: 80px;
    text-align: center;
}

.box h1{
    margin-top: -0;
    font-size: 50px;
}
.box p{
    margin-top: -30px;
    font-size: 18px;
}

.facts{
    margin-left: 20px;
    margin-right: 20px;
    background-color: whitesmoke;
    padding-left: 200px;
    padding-right: 130px;
    padding-top: 100px;
   
}

.facts-box{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: center;
    padding-right: 70px;
}

.box-1{
    border: 1px solid chocolate;
    width: 150px;
    height: 120px;
padding: 20px;
}

.box-1 h2{
    font-size: 35px;
    margin-top: -0px;
}

.box-1 p{
    margin-top: -18px;
}

.spon{
    background-color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
}

.spon-contain{
    text-align: center;
}

.spon-box{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.box-22{
    padding: 25px;
}
.footer{
    background-color: whitesmoke;
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 150px;
    margin-left: 20px;
    margin-right: 20px;
}
.para{
    background-color:rgba(250, 235, 215, 0.819);
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
    text-align: center;
}